header {
  background-color: #681d1d;
  padding: 5px 10px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-icon {
      width: 100%;
      max-width: 35px;
      height: 40px;
      object-fit: cover;
    }
  }
}
