.main_page {
  background: #fff;
  text-align: center;
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border: 1px solid #681d1d;
  border-bottom: 0;
}

.error-mesage {
  text-align: left;
  font-size: 13px;
  color: red;
  display: block;
}

@media only screen and (min-width: 480px) {
  .main_page {
    overflow: inherit;
    height: 100%;
  }
}
@media only screen and (min-width: 767px) {
  .main_page {
    max-width: 775px;
  }
  body {
    background: #eee;
  }
}

@media screen and (max-width: 48px) {
  .Toastify__toast {
    width: 60%;
  }
}
